# Core numerical + data handling
numpy
pandas

# Machine learning framework
torch
torchvision

# Energy measurement tools
py3nvml
psutil

# Visualisation
matplotlib
pillow
seaborn

# Utility libraries
scikit-learn
